---
title: Products | 六角眼鏡
layout: ./app/layout.ejs
engine: ejs
---

<main>
  <section class="products">
    <ul class="products-header">
      <li class="products-header__item products-header__item--active">
        <a href="products-optical.html">OPTICAL</a>
      </li>
      <li class="products-header__item">
        <a href="products-sunglasses.html">SUNGLASSES</a>
      </li>
      <li class="products-header__item">
        <a href="#">FUNCTIONAL</a>
      </li>
    </ul>
    <ul class="products-header__image">
      <li>
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/images/product-header-sm-1.png">
          <img src="./assets/images/product-header-1.png" alt="product-header-1">
        </picture>
      </li>
      <li>
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/images/product-header-sm-2.png">
          <img src="./assets/images/product-header-2.png" alt="product-header-2">
        </picture>
      </li>
    </ul>
  </section>
  <!-- 產品列表 -->
  <section class="products__content container">
    <div class="products__text">
      <h2 class="products__title">Celluloid Combi</h2>
      <p class="products__caption">賽璐珞鈦金屬混合鏡框</p>
    </div>
    
    <ul class="products__list">
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-1.png" alt="product-1">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>

      <li class="products__item">
        <img class="products__image" src="./assets/images/product-2.png" alt="product-2">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-3.png" alt="product-3">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-4.png" alt="product-4">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-5.png" alt="product-5">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-6.png" alt="product-6">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-7.png" alt="product-7">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-8.png" alt="product-8">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-9.png" alt="product-9">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-10.png" alt="product-10">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-11.png" alt="product-11">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
      
      <li class="products__item">
        <img class="products__image" src="./assets/images/product-12.png" alt="product-12">

        <div class="products__detail">
          <h3 class="products__name">BJ41600S</h3>
          <span class="products__price">NTD3,490</span>
        </div>
        
        <div class="products-color">
          <span class="products-color__item bg-color-brown-dark">&nbsp;</span>
          <span class="products-color__item bg-color-brown">&nbsp;</span>
        </div>
      </li>
    </ul>
    <!-- pagination -->
    <section class="pagination">
      <ul class="pagination__list">
        <li class="pagination__item"><a href="#!">上一頁</a></li>
        <li class="pagination__item"><a href="#!">1</a></li>
        <li class="pagination__item pagination__item--active"><a href="#!">2</a></li>
        <li class="pagination__item"><a href="#!">3</a></li>
        <li class="pagination__item"><a href="#!">4</a></li>
        <li class="pagination__item"><a href="#!">5</a></li>
        <li class="pagination__item"><a href="#!">下一頁</a></li>
      </ul>
    </section>
  </section>
</main>