---
title: 門市據點 | 六角眼鏡
layout: ./app/layout.ejs
engine: ejs
---

<main>
  <section class="stores">
    <div class="stores__content container">
      <h2 class="stores__title heading-2">門市據點</h2>
      <div class="filter">
        <label for="city">選擇地區</label>
        <select name="city" id="city">
          <option value="台北市">台北市</option>
          <option value="新北市">新北市</option>
          <option value="桃園市">桃園市</option>
          <option value="台中市">台中市</option>
          <option value="高雄市">高雄市</option>
        </select>
      </div>

      <ul class="stores-card">
        <!-- 門市據點卡片 -->
        <li class="stores-card__item">
          <figure>
            <img src="./assets/images/store-1.png" alt="stores 1" class="stores-card__image">
            <figcaption class="stores-card__title">台北中山旗艦店</figcaption>
          </figure>
          <!-- 卡片下方聯絡資訊 -->
          <div class="stores-card__detail">
            <ul class="stores-card__icon">
              <li></li><span class="material-symbols-outlined">call</span></li>
              <li></li><span class="material-symbols-outlined">schedule</span></li>
              <li></li><span class="material-symbols-outlined">location_on</span></li>
            </ul>
            <ul>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  電話：
                  <a href="tel:+886-2-0001234">(02)000-1234</a>
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  營業時間：10:00-21:00
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  地址：
                  <a href="https://goo.gl/maps/qUcmQE5qneJ8QEEC6" target="_blank">台北市中山區南京東路25巷2-1號</a>
                </p>
              </li>
            </ul>
          </div>
          <a href="store.html" class="btn btn--lg btn--black stores-card__button">詳細資料</a>
        </li>

        <li class="stores-card__item">
          <figure>
            <img src="./assets/images/store-2.png" alt="stores 2" class="stores-card__image">
            <figcaption class="stores-card__title">台北綠園店</figcaption>
          </figure>
          <div class="stores-card__detail">
            <ul class="stores-card__icon">
              <li></li><span class="material-symbols-outlined">call</span></li>
              <li></li><span class="material-symbols-outlined">schedule</span></li>
              <li></li><span class="material-symbols-outlined">location_on</span></li>
            </ul>
            <ul>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  電話：
                  <a href="tel:+886-2-0001234">(02)000-1234</a>
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  營業時間：10:00-21:00
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  地址：
                  <a href="https://goo.gl/maps/qUcmQE5qneJ8QEEC6" target="_blank">地址：台北市中正區復興南路 132-1 號</a>
                </p>
              </li>
            </ul>
          </div>
          <a href="store.html" class="btn btn--lg btn--black stores-card__button">詳細資料</a>
        </li>
        
        <li class="stores-card__item">
          <figure>
            <img src="./assets/images/store-3.png" alt="stores 3" class="stores-card__image">
            <figcaption class="stores-card__title">台中清水旗艦店</figcaption>
          </figure>
          <div class="stores-card__detail">
            <ul class="stores-card__icon">
              <li></li><span class="material-symbols-outlined">call</span></li>
              <li></li><span class="material-symbols-outlined">schedule</span></li>
              <li></li><span class="material-symbols-outlined">location_on</span></li>
            </ul>
            <ul>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  電話：
                  <a href="tel:+886-2-0001234">(02)000-1234</a>
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  營業時間：10:00-21:00
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  地址：
                  <a href="https://goo.gl/maps/qUcmQE5qneJ8QEEC6" target="_blank">地址：台中市清水區經南一路 23 號 8 樓</a>
                </p>
              </li>
            </ul>
          </div>
          <a href="store.html" class="btn btn--lg btn--black stores-card__button">詳細資料</a>
        </li>
        
        <li class="stores-card__item">
          <figure>
            <img src="./assets/images/store-4.png" alt="stores 4" class="stores-card__image">
            <figcaption class="stores-card__title">高雄中正形象店</figcaption>
          </figure>
          <div class="stores-card__detail">
            <ul class="stores-card__icon">
              <li></li><span class="material-symbols-outlined">call</span></li>
              <li></li><span class="material-symbols-outlined">schedule</span></li>
              <li></li><span class="material-symbols-outlined">location_on</span></li>
            </ul>
            <ul>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  電話：
                  <a href="tel:+886-2-0001234">(02)000-1234</a>
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  營業時間：10:00-21:00
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  地址：
                  <a href="https://goo.gl/maps/qUcmQE5qneJ8QEEC6" target="_blank">地址：高雄市苓雅區中正路 38 號 12 樓</a>
                </p>
              </li>
            </ul>
          </div>
          <a href="store.html" class="btn btn--lg btn--black stores-card__button">詳細資料</a>
        </li>
        
        <li class="stores-card__item">
          <figure>
            <img src="./assets/images/store-5.png" alt="stores 5" class="stores-card__image">
            <figcaption class="stores-card__title">高雄夢時代店</figcaption>
          </figure>
          <div class="stores-card__detail">
            <ul class="stores-card__icon">
              <li></li><span class="material-symbols-outlined">call</span></li>
              <li></li><span class="material-symbols-outlined">schedule</span></li>
              <li></li><span class="material-symbols-outlined">location_on</span></li>
            </ul>
            <ul>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  電話：
                  <a href="tel:+886-2-0001234">(02)000-1234</a>
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  營業時間：10:00-21:00
                </p>
              </li>
              <li class="stores-card__detail__item">
                <p class="stores-card__detail__text">
                  地址：
                  <a href="https://goo.gl/maps/qUcmQE5qneJ8QEEC6" target="_blank">地址：高雄市前鎮區中華一路 63 號 6 樓</a>
                </p>
              </li>
            </ul>
          </div>
          <a href="store.html" class="btn btn--lg btn--black stores-card__button">詳細資料</a>
        </li>
      </ul>
    </div>
  </section>
</main>