.header {
    background-color: $color-primary;
    position: relative;
    
    &__logo {
        background: url(../images/logo-white.png) no-repeat center center;
        background-size: cover;
        width: 8rem;
        height: 4.9rem;
        padding: 4px 0;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -1.2rem;
        @include container;

        @include respond($lg) {
            padding: 0 3.6rem;
        }

        @include respond($md) {
            padding: 1.2rem 1.5rem;
        }
    }

    .material-symbols-outlined {
        display: none;
        color: $color-white;
        font-weight: bold;
        font-size: 3rem;

        @include respond($md) {
            display: block;
        }
    }
} 