// 文上方 Breadcrumbs
.article__nav {
  @include font-size(1.6rem);
  margin-bottom: 0.8rem;

  &__list {
    display: flex;
    margin-bottom: 0.8rem;
  }

  &__link {
    &:hover,
    &--active{
      color: $color-primary;
    }
  }
}
// 文章主區塊
.article {
  padding: 2.4rem 3.6rem;
  @include respond($lg) {
    padding: 2.4rem 3.6rem 0rem 3.6rem;

    @include respond($md) {
      padding: 1.6rem 1.4rem 6.4rem 1.4rem;
    }
  }

  &__content {
    display: flex;
    gap: 2%;

    &__main {
      width: 66%;
      margin-bottom: 4rem;

      @include respond($md) {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &__aside {
      max-width: 25.6rem;

      @include respond($lg) {
        max-width: 15rem;
      }

      @include respond($md) {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 400;
  }

  &__subTitle {
    @include roboto(2.4rem, 400);
    margin-bottom: 1.6rem;

    @include respond($lg) {
      margin-bottom: 2.4rem;
    }

    @include respond($md) {
      @include font-size(1.6rem);
      margin-bottom: 1.6rem;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 4rem;

    @include respond($lg) {
      margin-bottom: 2.4rem;
    }

    @include respond($md) {
      margin-bottom: 1.6rem;
    }
  }

  &__image {
    margin-bottom: 0.8rem;

    @include respond($lg) {
      margin-bottom: 1.6rem;
    }

    @include respond($md) {
      margin-bottom: 0.8rem;
    }
  }

  &__text {
    color: $color-grey-dark3;
    @include font-size(1.6rem);
  }
}

// 底部連結
.article__footer {
  width: 66%;
  margin-bottom: 8rem;

  @include respond($lg) {
    width: 100%;
  }

  @include respond($md) {
    display: none;
  }
  
  &__list {
    display: flex;
    align-items: center;
    padding-bottom: 1.6rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid $color-grey-dark;
  }

  &__item {
    @include roboto(1.6rem, 700);
    margin-right: 1.6rem;
    transition: all .2s;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    @include font-size(1.6rem);

    a{
      display: flex;
      align-items: center;
    }

    & a:hover {
      color: $color-primary;
      .left-arrow {
        transform: translateX(-4px);
      }

      .right-arrow {
        transform: translateX(4px);
      }
    }
  }
}

.left-arrow {
  margin-right: 1.2rem;
  transition: all .2s;
}

.right-arrow {
  margin-left: 1.2rem;
  transition: all .2s;
}