// blog content
.blog {
  @include content;
  
  &__title {
    margin-bottom: 3.2rem;
    padding-left: 1.6rem;
    border-left: 8px solid $color-primary-dark2;
  }

  &__list {
    margin-bottom: 12.4rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    @include respond($lg) {
      margin-bottom: 8rem;
    }

    @include respond($md) {
      margin-bottom: 6.4rem;
    }
  }
}

.blog__item {
  display: flex;
  padding: 0 1.2rem;

  @include respond($md) {
    display: block;
  }

  &:not(:last-child) {
    margin-bottom: 6rem;

    @include respond($lg) {
      margin-bottom: 2.4rem;
    }
  }

  &__link {
    width: 50%;
  }

  &__image {
    margin-right: 1.2rem;

    @include respond($md) {
      width: 100%;
      margin-bottom: 0.8rem;
    }
  }

  &__detail {
    margin-left: 1.2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @include respond($md) {
      display: block;
      width: 100%;
    }
  }

  &__title {
    @include font-size(3.2rem);
    color: $color-primary-dark;

    @include respond($lg) {
      @include font-size(2.4rem);
    }
  }

  &__subTitle {
    @include roboto(2rem, 500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;

    @include respond($lg) {
      @include font-size(1.6rem);
      margin-bottom: 4px;
    }

    @include respond($md) {
      // width: 100%;
    }
  }

  &__date {
    @include font-size(1.6rem);

    @include respond($md) {
      display: block;
    }
  }

  &__text {
    @include font-size(2rem);
    color: $color-grey-dark3;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    position: relative;

    @include respond($lg) {
      -webkit-line-clamp: 4;
    }

    @include respond($md) {
      display: none;
    }
  }

  &__more {
    text-align: right;
    @include roboto(3.6rem, 900);
    color: $color-primary-dark;
    transition: all .3s;

    @include respond($lg) {
      text-transform: lowercase;
      @include font-size(1.6rem);
      font-family: $font-notoSans;
      font-weight: 400;
      color: $color-grey-dark3;
    }

    @include respond($md) {
      display: none;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__more::before {
    @include respond($lg) {
      content: "...";
    }
  }
}