// 用專業的心，做專業的事
.service {
    background-color: $color-primary-light;
    color: $color-primary-dark;
    text-align: center;
    
    &__content {
        padding: 8rem 3.6rem;

        @include respond($phone) {
            padding: 4rem 1.4rem;
        }
    }

    &__title {
        margin-bottom: 2.4rem;
    }

    &__list {
        display: flex;
        justify-content: center;

        @include respond($tablet) {
            flex-wrap: wrap;
        }
        
        @include respond($phone) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__item {
        text-align: center;
        max-width: 30.6rem;

        &:not(:last-child) {
            margin-right: 2.4rem;
        }

        @include respond($tablet) {
            margin-bottom: 2.4rem;

            &:not(:last-child) {
                margin-right: 0;
            }

            &:nth-child(odd) {
                margin-right: 2.4rem;
            }
        }
        
        @include respond($phone) {
            &:nth-child(odd) {
                margin-right: 0rem;
            }
        }
    }

    &__icon {
        height: 10rem;
        width: 10rem;
        padding: 0.8rem;
        margin-bottom: 1.6rem;
    }

    &__subTitle {
        margin-bottom: 0.8rem;
    }

    &__text {
        color: $color-black;
        text-align: left;
        @include font-size(1.6rem);
    }
}
// 經典系列鏡框
.glasses {
    text-align: center;

    &__content {
        padding: 8rem;

        @include respond($phone) {
            padding: 4rem 1.4rem;
        }
    }

    &__title {
        color: $color-primary-dark;
        margin-bottom: 4.8rem;

        @include respond($phone) {
            margin-bottom: 2.4rem;
        }
    }

    &__list {
        display: flex;
        gap: 2%;
        width: 100%;

        @include respond($tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 32%;

        @include respond($tablet) {
            width: 50%;
        }

        @include respond($phone) {
            width: 100%;
        }
    }

    &__image {
        margin-bottom: 0.8rem;

        @include respond($tablet) {
            width: 100%;
        }

        @include respond($phone) {
            max-width: 34.8rem;
        }
    }

    &__subTitle {
        color: $color-primary;

        @include respond($tablet) {
            margin-bottom: 2.4rem;
        }
    }
}
// 聯名設計鏡框
.design {
    background: url(../images/index-bg.png) no-repeat center center;
    background-size: cover;

    @include respond($tablet) {
        background-image: url(../images/index-bg-md.png);
    }

    @include respond($phone) {
        background-image: url(../images/index-bg-sm.png);
    }

    &__content {
        text-align: center;
        padding: 8rem;

        @include respond($tablet) {
            padding: 3.6rem;
        }
    }

    &__title {
        color: $color-white;
        margin-bottom: 4.8rem;

        @include respond($phone) {
            margin-bottom: 2.4rem;
        }
    }

    &__list {
        display: flex;

        @include respond($tablet) {
            flex-direction: column;
        }
    }

    &__item:not(:last-child) {
        @include respond($tablet) {
            margin-bottom: 2.4rem;
        }
    }
    
    &__subTitle {
        background-color: $color-white;
        color: $color-primary;
        padding: 0.8rem 0;
        border: 1px solid $color-grey-light;
    }
}
// 顧客推薦
.recommend {
    &__content {
        padding: 8rem;

        @include respond($tablet) {
            padding: 3.6rem;;
        }
    }

    &__title {
        color: $color-primary-dark;
        text-align: center;
        margin-bottom: 4.8rem;

        @include respond($phone) {
            margin-bottom: 2.4rem;
        }
    }
}
// 聯絡我們
.contact {
    background-color: $color-primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__content {
        max-width: 63.6rem;
        padding: 8rem;

        @include respond($tablet) {
            padding: 8rem 9.6rem;
        }

        @include respond($phone) {
            padding: 4rem 1.4rem;
        }
    }

    &__title {
        color: $color-primary-dark;
        text-align: center;
        margin-bottom: 4.8rem;

        @include respond($phone) {
            margin-bottom: 2.4rem;
        }
    }
    
    &__text {
        @include font-size(2rem);
        margin-bottom: 2.4rem;

        @include respond($phone) {
            @include font-size(1.6rem);
        }
    }
    
    &__form {
        @include font-size(1.6rem);
    }
}