// font-size & line-height 1.5
@mixin font-size($font-size) {
    font-size: $font-size;
    // line-height: $font-size * 1.5;
}

// breakpoint
@mixin respond($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

// container
@mixin container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    max-width: 132rem; // 1296 + 12 + 12
    margin: 0 auto;

    @include respond($lg) {// 1024px
        max-width: 992px; //
    }
    @include respond($md) {// 743px
        max-width: 720px; // 696 + 12 + 12
    }
    @include respond($xs) {//375px
        max-width: 372px; // 348 + 12 +12
    }
}

// 重複的 content padding
@mixin content{
    margin-top: 8rem;
    margin-bottom: 8rem;

    @include respond($lg) {
        margin: 8rem 2.4rem;
    }

    @include respond($md) {
        margin: 4rem 0.2rem 6.4rem;
    }
}

// font roboto
@mixin roboto($font-size, $font-weight) {
    font-family: $font-roboto;
    font-weight: $font-weight;
    @include font-size($font-size);
}