// Color
$color-primary-light: #FBF2F2;
$color-primary: #AA0601;
$color-primary-dark: #650300;
$color-primary-dark2: #9F1213;

$color-brown: #B75929;
$color-brown-dark: #5F3E2D;

$color-white: #FFFFFF;
$color-black: #000000;

$color-grey-100: #F2F2F2;
$color-grey-200: #DCDCDC;
$color-grey-300: #DEE2E6;
$color-grey-400: #CED4DA;
$color-grey-500: #707070;
$color-grey-600: #495057;
$color-grey-700: #555555;
$color-grey-800: #212529;

// Font
$font-roboto: "Roboto", sans-serif;
$font-notoSans: "Noto Sans TC", sans-serif;

// Breakpoint
$xs: 375px;
$sm: 576px;
$md: 743px;
$lg: 1024px; 