// Color
$color-primary-light: #FBF2F2;
$color-primary: #AA0601;
$color-primary-dark: #650300;
$color-primary-dark2: #9F1213;

$color-brown: #B75929;

$color-white: #FFFFFF;
$color-black: #000000;
$color-black2: #212529;

$color-grey-light: #DEE2E6;
$color-grey-light2: #CED4DA;
$color-grey-dark: #707070;
$color-grey-dark2: #495057;

// Font
$font-roboto: "Roboto", sans-serif;
$font-notoSans: "Noto Sans TC", sans-serif;

// Breakpoint
$phone: 768px; 
$tablet: 992px; 