.btn {
    display: inline-block;
    color: $color-white;
    text-align: center;

    &--sm {
        @include font-size(2rem);
        padding: 6px 12px;
    }

    &--lg {
        @include font-size(1.6rem);
        padding: 1.6rem ;
        width: 100%;

        @include respond($md) {
            padding: 1.6rem;
        }
    }

    &--primary {
        background-color: $color-primary;
    }

    &--black {
        background-color: $color-black;
    }
}