// 首頁 顧客推薦
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1.2rem;
  gap: 1%;

  &__item {
    padding: 0 1.2rem;
    width: 23%;
    
    @include respond($lg) {
      width: 45%;
      
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    @include respond($md) {
      width: 100%;
      max-width: 34.8rem;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }

    @include respond($xs) {
      width: 90%;
    }
  }
  
  &__detail {
    padding: 1.6rem;
    height: 20.5rem;
    // 日期置底
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $color-grey-300;
    box-shadow: 0 2px 6px rgba(0,0,0,0.16);
  }

  &__text {
    @include font-size(1.6rem);
    // 超過4行隱藏
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    & > * {
      margin-bottom: 0.8rem;
  }
  }

  &__time {
    @include font-size(1.4rem);
    color: $color-grey-500;
  }
}