// header navbar
.navbar {
  @include font-size(2rem);
  font-family: $font-notoSans;
  font-weight: 400;
  color: $color-white;
  position: relative;

  @include respond($md) {
    display: none;
  }

  &__list {
    display: flex;
  }
  
  &__item {
    &:not(:last-child) {
      margin-right: 6.4rem;

      @include respond($lg) {
        margin-right: 5.4rem;
      }        
    }

    a {
      display: block;
      padding: 2.5rem 0;
    }
    
    & a:hover {
      color: $color-grey-light;
      padding-bottom: 1px;
      border-bottom: 1px solid $color-white;
    }
  }
}

// footer navbar
.navbar--sub {
  @include font-size(1.6rem);
  font-weight: 400;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;

    @include respond($md) {
      display: none;
    }
  }
  
  &__item {        
    &:hover {
      color: $color-grey-light;
    }
  }
  
  &__item:not(:last-child) {
    margin-right: 4.8rem;

    @include respond($lg) {
      margin-right: 2rem;
    }
  }
}

.socialMedia {
  display: flex;

  &__item {
    width: 4.8rem;
    height: 4.8rem;
    transition: all .2s;
    backface-visibility: hidden;

    @include respond($md) {
      width: 2.4rem;
      height: 2.4rem;
    }

    &:not(:last-child) {
      margin-right: 3.2rem;

      @include respond($lg) {
        margin-right: 1.6rem;
      }

      @include respond($md) {
        margin-right: .8rem;
      }
    }
    
    &:hover {
      transform: translateY(-2px);
    }
  }
}

// blog navbar
.blog__nav {
  background-color: $color-primary-dark;
  color: $color-white;
  @include font-size(2rem);
  padding: 0 3.6rem;

  @include respond($md) {
    @include font-size(1.6rem);
    padding: 0;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond($md) {
      justify-content: center;
    }
  }
  
  &__list {
    display: flex;

    @include respond($md) {
      // 手機自適應滿版
      width: 100%;
      justify-content: space-around;
    }

    a {
      display: block;
      padding: 1.3rem 0;

      @include respond($md) {
        padding: 1.2rem 1rem;
      }

      &:hover {
        color: $color-grey-light;
        padding-bottom: 1px;
        border-bottom: 1px solid $color-white;
      }
    }
  }

  &__item:not(:last-child) {
      margin-right: 4.8rem;

      @include respond($md) {
        margin-right: 0;
      }
    }

  &__search {
    font-size: 2.9rem;

    & span:hover {
      color: $color-grey-light;
      transform: scale(1.2);
    }

    @include respond($md) {
      display: none;
    }
  }
}
