// header navbar
.navbar {
  @include font-size(2rem);
  font-family: $font-notoSans;
  font-weight: 400;
  color: $color-white;
  position: relative;

  @include respond($md) {
    display: none;
  }

  &__list {
    display: flex;
  }
  
  &__item {
    a {
      display: block;
      padding: 2.5rem 0;
      transition: all .3s;
      backface-visibility: hidden;
    }
    & a:hover {
      transform: translateY(-5px);
    }
  }

  &__item:not(:last-child) {
    margin-right: 6.4rem;

    @include respond($lg) {
      margin-right: 5.4rem;
    }        
  }
}
// 漢堡選單
.navbar {
  &__checkbox {
    display: none;
  }
  &__button {
    display: none;
    @include respond($md) {
      cursor: pointer;
      display: block;
    }
  }
  // checkbox check狀態改變後，顯示navbar
  &__checkbox:checked ~ .navbarPhone {
    @include respond($md) {
      display: block;
      animation: moveInTop .5s ease-in;
    }
  }
}
// 手機漢堡選單預設隱藏
.navbarPhone {
  display: none;
  width: 100%;
  @include font-size(1.6rem);
  font-weight: 400;
  background-color: $color-primary;
  color: $color-white;
  // 距離header高度
  position: absolute;
  top: 7.3rem;
  left: 0;
  z-index: 100;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item{
    border: 1px solid $color-white;
    text-align: center;
    width: 50%;
    
    a {
      display: block;
      padding: 1.2rem 0;
      transition: all .3s;
      backface-visibility: hidden;
    }
    & a:hover {
      transform: translateY(-5px);
    }
  }
}

// blog navbar
.blog-nav {
  background-color: $color-primary-dark;
  color: $color-white;
  @include font-size(2rem);
  padding: 0 3.6rem;

  @include respond($md) {
    @include font-size(1.6rem);
    padding: 0;
    display: none;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond($md) {
      justify-content: center;
    }
  }
  
  &__list {
    display: flex;

    @include respond($md) {
      // 手機自適應滿版
      width: 100%;
      justify-content: space-around;
    }

    a {
      display: block;
      padding: 1.3rem 0;
      transition: all .3s;
      backface-visibility: hidden;
    }
    a:hover {
      transform: translateY(-4px);
    }
  }

  &__item a{
    @include respond($xs) {
      padding: 1.2rem 0;
    }
  }

  &__item:not(:last-child) {
      margin-right: 4.8rem;

      @include respond($md) {
        margin-right: 0;
      }
    }

  &__search {
    font-size: 2.9rem;

    & span:hover {
      color: $color-grey-300;
      transform: scale(1.2);
    }

    @include respond($md) {
      display: none;
    }
  }
}
